
*.ipch
*.vsidx
Exercise2/.vs/ilolpex1/v17/ipch/AutoPCH/1edd754b61363e2c/MAIN.ipch
*.pdb
Exercise2/.vs/ilolpex1/CopilotIndices/0.2.1671.27212/CodeChunks.db-shm
Exercise2/.vs/ilolpex1/CopilotIndices/0.2.1671.27212/CodeChunks.db
Exercise2/.vs/ilolpex1/CopilotIndices/0.2.1671.27212/SemanticSymbols.db-shm
Exercise2/.vs/ilolpex1/CopilotIndices/0.2.1671.27212/SemanticSymbols.db-wal
*.db-wal
*.db-wal
*.db-shm
*.db
*.db-wal
*.obj
*.db
*.db
Exercise2/.vs/ilolpex1/v17/Browse.VC.db
Exercise2/.vs/ilolpex1/v17/Browse.VC.opendb
Exercise2/.vs/ilolpex1/v17/Browse.VC.db
Exercise2/.vs/ilolpex1/v17/DocumentLayout.backup.json
Exercise2/.vs/ilolpex1/v17/DocumentLayout.json
*.db
